<section id="contact-info" style="font-family: Arial, sans-serif; line-height: 1.6;">
    <div></div>
    <div>
        <p><strong>Email:</strong> <a href="mailto:pks667553@gmail.com">&nbsp;pks667553@gmail.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+919472450556">&nbsp;+91 94724 50556</a></p>
        <p><strong>Location:</strong> &nbsp;Pune, Maharashtra, India</p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/prakashkumar07/" target="_blank">&nbsp;prakashkumar07</a></p>
        <p><strong>GitHub:</strong> <a href="https://github.com/pks121" target="_blank">&nbsp;pks121</a></p>
    </div>
    <div></div>
</section>
  