<div class="container">
    <h1 class="project_heading">About</h1>
    <div class="description_box">
        <div class="img_box">
            <img src="assets/desk.svg" alt="">
            <svg class="name_tag" viewBox="0 0 300 300 ">
                <path id="curve"
                    d="M150,0C96.4,0,78.95,7.6,41.4,46.4S1.4,108,1.4,159.2s2.85,57.4,40,92,55,46.4,108.6,46.4,68.35-10.8,105.8-46.4,44-44.8,44-96-6.55-70-44-108.8S203.6,0,150,0Z"
                    fill="none" stroke="none" />
                <text fill="#f1f1f1">
                    <textPath xlink:href="#curve">F R O N T E N D &nbsp; D E V E L O P E R</textPath>
                </text>
            </svg>
        </div>
        <div class="description">
            <h1 class="title">A dedicated Front-end Developer based in Bihar, India<mat-icon>location_pin</mat-icon>
            </h1>
            As a junior Front-End Developer. I possess an impressive arsenal of skills in HTML, CSS, Typescript,
            Angular, Bootstrap as well as spring in backend, MySQL, Java, Python.
            I excel in designing and maintaining responsive websites that offer a smooth user experience. My experties
            lies in crafting dynamic, engaging interfaces through writing clean and optimised code and
            utilizingcutting-edge development tools and techniques. I am also a team player who thrives in collaborating
            with cross-functional teams to produce outstanding web applications.
        </div>
    </div>
</div>