.container {
    position: relative;
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    .project_heading {
        position: absolute;
        left: 0;
        top: 0;
    }

    .description_box {
        // background: linear-gradient(to bottom, red, green);
        // border: 1px solid rgb(0, 255, 34);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: clamp(250px, 80vw, 800px);
        // max-height: 70vh;
        gap: 5vw;
        padding: 12px;

        .description {
            color: #b6b1b1;
            font-size: clamp(.7rem, 2vw, 1.1rem);
            line-height: inherit;
            text-align: start;

            .title {
                color: black;
                font-weight: bold;
                font-size: clamp(.9rem, 4vw, 1.5rem);
                line-height: clamp(0.9rem, 4vw, 1.5rem);

                mat-icon {
                    color: rgb(125, 19, 19);
                }
            }
        }

        .img_box {
            position: relative;
            // border: 2px solid;
            background: linear-gradient(45deg, #b31d1d, #089dc1);
            border-radius: 12px;

            img {
                // width:  40vw;
                width: clamp(100px,20vw, 250px);
            }

            .description {
                text-wrap: wrap;
                text-align: center;

            }

        }


        .name_tag {
            position: absolute;
            bottom: -30px;
            right: -15px;
            width: clamp(4rem, 15.5vw, 5.4rem);
            font-size: clamp(3rem, 3vw, 4.4rem);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            // filter: drop-shadow(0px 0px 5px red);
            font-weight: bold;
            animation: rotate 10000ms infinite linear;
            background: black;
            border-radius: 50%;
            margin: 5px;
            padding: 5px;

        }
    }

}

@keyframes rotate {
    to {
        rotate: 360deg;
    }

}