<div class="container">
    <div class="section">
        <div class="left_container">
            <div class="heading">Front-End Angular <span>Developer<mat-icon
                        style="transform:rotateY(180deg); color: antiquewhite;">waving_hand</mat-icon></span> </div>
            <div class="my_intro">
                Hi, I'm Prakash Kumar. A passionate Front-end Angular Developer in <span> Bihar, India<mat-icon
                        style="color:rgb(246, 99, 54)">location_pin</mat-icon></span>
            </div>
            <div class="account_links">
                <a href="https://www.linkedin.com/in/prakash-kumar-105180191" target="_blank">
                    <img class="acc_icon" src="assets/icons8-linkedin.svg" width="37px" alt="linkedin">
                </a>
                <a href="https://github.com/pks121" target="_blank">
                    <img class="acc_icon" src="assets/icons8-github.svg" width="32px" alt="github">
                </a>

            </div>

            <!-- <div class="discription"></div> -->
        </div>
        <div class="right_container">

            <div class="image"></div>
        </div>
    </div>
    <div class="tech_stack">
        <span>
            Tech Stack&nbsp;
            <hr class="hr">
        </span>
        <div class="stacks">
            <img class="stacks_img" src="assets/angular.svg" width="30px" height="30px" alt="">
            <img class="stacks_img" src="assets/html.svg" width="30px" height="30px" alt="">
            <img class="stacks_img" src="assets/css.svg" width="30px" height="30px" alt="">
            <img class="stacks_img" src="assets/typescript.svg" width="30px" height="30px" alt="">
            <img class="stacks_img" src="assets/spring.svg" width="30px" height="30px" alt="">
        </div>

    </div>
</div>