<div class="home_container">
  <div class="navbar">
    <div class="brand_name">Portfolio</div>
    <div (click)="toggleMenu()" [ngClass]="showMenu? 'menu_container':'no_menu_container'">
      <div><a class="menu_item" href="#home">Home
          <hr class="bottom">
        </a></div>
      <div><a class="menu_item" href="#about">About
          <hr class="bottom">
        </a></div>
      <div><a class="menu_item" href="#skills">Skills
          <hr class="bottom">
        </a></div>
      <div><a class="menu_item" href="#projects">Projects
          <hr class="bottom">
        </a></div>
      <div><a class="menu_item" href="#contact">Contact
          <hr class="bottom">
        </a></div>
    </div>
    <mat-icon class="menu_btn" (click)="toggleMenu()">menu</mat-icon>
  </div>

  <div class="body">
    <div class="section" id="home" >
      <app-intro ></app-intro>
    </div>
    <div id="about" class="section">
      <app-about></app-about>
    </div>
    <div class="section">
      <h1 id="skills" class="project_heading">Skills</h1>
      <app-skills></app-skills>
    </div>
    <div class="section">
      <h1 id="projects" class="project_heading">Projects</h1>
      <app-projects></app-projects>
    </div>
    <div class="section">
      <h1 id="contact" class="project_heading">Contact</h1>
      <app-contact></app-contact>
    </div>

  </div>

</div>