/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0px;
}


html,
body {
    height: 100%;
    width: 100vw;

}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // overflow-y: visible;
    width: 100%;



}


:root {
    --dark-bgcolor: rgb(36, 36, 36);
    --light-text: white;
    --dark-texthover: rgb(29, 217, 173);
    --navbar-height: 80px;
    --dark-container-color: rgb(69, 68, 68);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
